/* =========================================================
   GLOBAL RESET
========================================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;

  margin: 0;
  padding: 0;

  background: #f1f5f9;

  font-family:
    Inter,
    Poppins,
    Arial,
    sans-serif;

  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;

  margin: 0;
  padding: 0;
}